@font-face {
	font-family: 'skya';
	src: url('fonts/skia_regular.ttf') format('truetype');
  }  

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'skya', Tahoma, Sans-Serif;
}

canvas {
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
}

audio
{
	display: none;
}

.player {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 40px;
}

#header {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 80%);
	display: block;
	width: 100%;
	z-index: 10000;
	padding-left: 20%;
}

#header a{
	color: #FFF;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	font-size: 24px;
}

#header a.active{
	text-decoration: underline;
}

#container {
	position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -30%;
    width: 60%;
    background: rgba(0, 0, 0, 90%);
    color: #CCC;
    font-size: 21px;
	padding-bottom: 100px;
	text-align: justify;
	z-index: 1;
}

#container p{
	margin: 90px 90px 60px 90px;
}

#container img{
	width: 100%;
}

#container p b{
    color: #FFF;
}

#container .vissungos{
	display: flex;
	padding: 0 75px;
}

#container a{
	flex: 1;
	margin: 0 20px;
    border: 2px solid white;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
	transition: box-shadow 0.5s;
	box-shadow: -8px 8px 0 -2px #000, -8px 8px 0 0 #FFF;
}

#container a b{
	display: block;
	margin-top: 10px;
}

#container a:hover{
	box-shadow: -16px 16px 0 -2px #000, -16px 16px 0 0 #FFF;
}

.rhythmViz {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: #FFF;
    width: 100%;
}
.rhythmViz div{
    height: 20px;
	width: 20px;
	position: absolute;
	bottom: 0px;
}
.rhythmViz span {
	transform: rotate(-90deg);
	transform-origin: right, top;
	position: absolute; 
	color: #FFF;
	margin-top: -30px;
	margin-left: -7px;
}

.rhythmViz .on{
	background-color: #0F0;
}
.rhythmViz .off{
	background-color: #F00;
}

@media (max-width: 1280px)
{
	#header {
		padding-left: 10%;
	}

	#container {
		margin-left: -40%;
		width: 80%;
	}
	

	#container .vissungos{
		padding: 0 70px;
	}
}

@media (max-width: 1024px)
{
	#header {
		padding-left: 5%;
	}

	#container {
		margin-left: -45%;
		width: 90%;
	}

	#container p{
		margin: 50px;
	}
	

	#container .vissungos{
		padding: 0 17px;
		flex-wrap: wrap;
	}

	#container a{
		flex: 35%;
		margin-bottom: 30px;
	}
}